body {
    background-color: rgba(128, 128, 128, 0.144);
}

.moon {
    width: 4rem;
    height: auto;
    z-index: 1;
    padding-left: 1rem;
}

.slider-images {
    margin-top: 3rem;
}

a {
    text-transform: uppercase;
}

.collapse {
    text-align: center;
}

ul li {
    text-align: center;
}

#nav-title {
    background-color: transparent;
    width: 100%;
    height: inherit;
    z-index: 1;
    color: black;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
}

.navbar-dark .navbar-toggler {
    background-color: grey;
}

.nav-item {
    padding-right: 2rem;
    padding-left: 2rem;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #181a18;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #181a18;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-image {
    margin: 5rem 2rem 3rem 6rem;
    padding-top: 4rem;
    max-width: 100%;
    width: 75%;
    height: 60vh;
}

.space {
    visibility: hidden;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  padding: 0 0 1rem 1rem;
  z-index: 1;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.589);
}

.active {
  background-color: #717171;
}

.deal {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    max-width: 50%;
    padding: 1rem 0 0 0;
}

.description {
    text-align: center;
}

.main-section-info {
    max-width: 50%;
    z-index: 1;
    margin: auto;
    padding: 2rem 0;
    line-height: 2;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    text-align: center;
}

.bottom {
    border-top: 1rem dotted grey;
    max-width: 25%;
    width: 100%;
    margin: auto;
    padding-bottom: 2rem;
}

.csd {
    text-transform: lowercase;
    color: black;
}

.csd:hover {
    text-transform: lowercase;
    color: black;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}

.CU-title {
    padding-top: 1rem;
    margin: 0;
    max-width: 100%;
    width: 100%;
    align-self: center;
}

.form-control {
    margin: 1rem 0;
}

form {
    max-width: 100%;
    width: 100%;
}

.btn {
    margin: 1rem 0 2rem 0;
    background-color: transparent;
    border: 1px solid rgb(98, 226, 98);
    color: rgb(98, 226, 98);
}

.btn:hover {
    background-color: rgb(98, 226, 98);
}

.CFORM .FINFO {
    max-width: 100%;
    width: 100%;
}

.socials-image{
    max-width: 10%;
    width: 10%;
    height: 10vh;
    display: inline-flex;
    margin-bottom: 1rem;
}

.copyright {
    margin: 1rem 0 1rem 0;
}

@media only screen and (max-width: 300px) {
    .deal {font-size: 2rem;}
}

@media only screen and (max-width: 576px) {
    .deal {font-size: 2rem;}
}

@media only screen and (max-width: 992px) {
    .deal {font-size: 2rem; align-self: center; max-width: 100%;}
    .slider-images {padding-right: 1rem; max-width: 100%; width: 100%;}
    .next {margin-right: 1rem;}
    .main-section-info {max-width: 100%; font-size: 1rem;}
    form {max-width: 100%; width: 100%;}
    .CFORM, .FINFO {max-width: 100%; width: 100%;}
    .nav-image {margin: 1rem 2rem 1rem 3.8rem;}
    h1 {font-size: 2.25rem; width: 100%;}
    .navbar-brand {font-size: 1rem; margin-right: 0; padding-right: 0;}
    .moon {padding-left: 0;}
    .socials-image {max-width: 25%; width: 50%;}
}

@media only screen and (max-width: 1200px) {
    .deal {font-size: 2rem; align-self: center; max-width: 100%;}
    .slider-images {padding-right: 1rem; max-width: 100%; width: 100%;}
    .next {margin-right: 1rem;}
    .main-section-info {max-width: 100%; font-size: 1rem;}
    form {max-width: 100%; width: 100%;}
    .CFORM, .FINFO {max-width: 100%; width: 100%;}
    .nav-image {margin: 1rem 2rem 1.5rem 3.8rem;}
    h1 {font-size: 2.25rem; width: 100%;}
    .navbar-brand {font-size: 1rem; margin-right: 0; padding-right: 0;}
    .moon {padding-left: 0;}
    .socials-image {max-width: 25%; width: 50%;}
}
